$mainBlueColor: #062294;
$logoColor: #3C6EE3;
$btnBasketColor: #1DBAB7;
$borderColor: #e4e4e4;
$backColor: #F9F9F9;
$textColor: #545454;
$descrColor: #9B9B9B;


@mixin fontsWeiSize($weight, $size) {
  font-weight: $weight;
  font-size: $size;
}